Goal is to clean it up, separate and merge the fusion tickets, etc

In [41]:
import pandas as pd

In [42]:
senate_scores = pd.read_excel("data/LugarScores.xlsx", sheet_name= 0)
house_scores = pd.read_excel("data/LugarScores.xlsx", sheet_name=1)

In [43]:
mapping = { # Congressional Session to preceding election year
    116 : 2018,
    115 : 2016,
    114 : 2014,
    113 : 2012,
    112 : 2010,
    111 : 2008,
    110 : 2006,
    109 : 2004,
    108 : 2002,
    107 : 2000,
    106 : 1998,
    105 : 1996,
    104 : 1994,
    103 : 1992
}

In [4]:
senate_scores["year"] = senate_scores["Congress"].map(mapping)
house_scores["year"] = house_scores["Congress"].map(mapping)
senate_scores

      Number  FirstName   LastName State Party    Score  Congress  year
0          1      Susan    Collins    ME     R  4.58409       116  2018
1          2       Lisa  Murkowski    AK     R  3.17341       116  2018
2          3        Rob    Portman    OH     R  2.81887       116  2018
3          4       Cory    Gardner    CO     R  2.65591       116  2018
4          5    Kyrsten     Sinema    AZ     D  2.42747       116  2018
...      ...        ...        ...   ...   ...      ...       ...   ...
1372      94      Gregg       Judd    NH     R -1.20840       103  1992
1373      95      Helms      Jesse    NC     R -1.33330       103  1992
1374      96      Gramm       Phil    TX     R -1.36967       103  1992
1375      97       Byrd     Robert    WV     D -1.39783       103  1992
1376      98  Coverdell       Paul    GA     R -1.54537       103  1992

[1377 rows x 8 columns]

(The year is the election year preceding the term)

Question: did I merge the house and senate?

I thinki

In [94]:
df = pd.read_csv("data/MEDSL/2012-2018-house.csv")

In [95]:
df = df[["year", "state_po", "district", "candidate", "party", "candidatevotes", "totalvotes", "fusion_ticket"]]

In [96]:
len(df)

5600

In [97]:
df.head()

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
0,2012,AL,1,NaN,NaN,4302,200676,False
1,2012,AL,1,JO BONNER,REPUBLICAN,196374,200676,False
2,2012,AL,2,THERESE FORD,DEMOCRAT,103092,283953,False
3,2012,AL,2,NaN,NaN,270,283953,False
4,2012,AL,2,MARTHA ROBY,REPUBLICAN,180591,283953,False

In [98]:
df_fusion = df[df["fusion_ticket"] == 1]
df_fusion.tail()

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
5077,2018,NY,27,NATHAN D. MCMURRAY,WOMEN'S EQUALITY,2802,285300,True
5542,2012,CT,3,ROSA L. DELAURO,WORKING FAMILIES,20410,291301,True
5544,2012,CT,3,ROSA L. DELAURO,DEMOCRAT,197163,291301,True
5547,2016,CT,1,JOHN B. LARSON,WORKING FAMILIES,13665,312925,True
5549,2016,CT,1,JOHN B. LARSON,DEMOCRAT,187021,312925,True

In [99]:
df_fusion = df_fusion.sort_values(by=["year", "state_po", "district", "candidatevotes"], ascending=[1,1,1,0])
df_fusion

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
207,2012,CT,1,JOHN B. LARSON,DEMOCRAT,192840,297061,True
203,2012,CT,1,JOHN B. LARSON,WORKING FAMILIES,14133,297061,True
211,2012,CT,2,JOE COURTNEY,DEMOCRAT,189444,298960,True
212,2012,CT,2,JOE COURTNEY,WORKING FAMILIES,15264,298960,True
5544,2012,CT,3,ROSA L. DELAURO,DEMOCRAT,197163,291301,True
...,...,...,...,...,...,...,...,...
5073,2018,NY,27,CHRIS COLLINS,REPUBLICAN,114506,285300,True
5074,2018,NY,27,CHRIS COLLINS,CONSERVATIVE,23553,285300,True
5075,2018,NY,27,NATHAN D. MCMURRAY,WORKING FAMILIES,8090,285300,True
5077,2018,NY,27,NATHAN D. MCMURRAY,WOMEN'S EQUALITY,2802,285300,True
5076,2018,NY,27,CHRIS COLLINS,INDEPENDENCE,2087,285300,True

In [104]:
fusion_total = df_fusion.groupby(["year", "state_po", "district", "candidate"])["candidatevotes"].sum().reset_index()
fusion_total

     year state_po  district           candidate  candidatevotes
0    2012       CT         1      JOHN B. LARSON          206973
1    2012       CT         2        JOE COURTNEY          204708
2    2012       CT         3     ROSA L. DELAURO          217573
3    2012       CT         4      JAMES A. HIMES          175929
4    2012       CT         5     ANDREW RORABACK          138637
..    ...      ...       ...                 ...             ...
203  2018       NY        25         JIM MAXWELL          110736
204  2018       NY        25   JOSEPH D. MORELLE          159244
205  2018       NY        26       BRIAN HIGGINS          169166
206  2018       NY        27       CHRIS COLLINS          140146
207  2018       NY        27  NATHAN D. MCMURRAY          139059

[208 rows x 5 columns]

In [106]:
df_fusion.sort_values(by=["year", "state_po", "district", "candidatevotes"], ascending=[1,1,1,0], inplace=True)
df_fusion

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
207,2012,CT,1,JOHN B. LARSON,DEMOCRAT,192840,297061,True
203,2012,CT,1,JOHN B. LARSON,WORKING FAMILIES,14133,297061,True
211,2012,CT,2,JOE COURTNEY,DEMOCRAT,189444,298960,True
212,2012,CT,2,JOE COURTNEY,WORKING FAMILIES,15264,298960,True
5544,2012,CT,3,ROSA L. DELAURO,DEMOCRAT,197163,291301,True
...,...,...,...,...,...,...,...,...
5073,2018,NY,27,CHRIS COLLINS,REPUBLICAN,114506,285300,True
5074,2018,NY,27,CHRIS COLLINS,CONSERVATIVE,23553,285300,True
5075,2018,NY,27,NATHAN D. MCMURRAY,WORKING FAMILIES,8090,285300,True
5077,2018,NY,27,NATHAN D. MCMURRAY,WOMEN'S EQUALITY,2802,285300,True
5076,2018,NY,27,CHRIS COLLINS,INDEPENDENCE,2087,285300,True

In [108]:
result = df_fusion.merge(fusion_total, on=["year", "state_po", "district", "candidate"])
result

,year,state_po,district,candidate,party,candidatevotes_x,totalvotes,fusion_ticket,candidatevotes_y
0,2012,CT,1,JOHN B. LARSON,DEMOCRAT,192840,297061,True,206973
1,2012,CT,1,JOHN B. LARSON,WORKING FAMILIES,14133,297061,True,206973
2,2012,CT,2,JOE COURTNEY,DEMOCRAT,189444,298960,True,204708
3,2012,CT,2,JOE COURTNEY,WORKING FAMILIES,15264,298960,True,204708
4,2012,CT,3,ROSA L. DELAURO,DEMOCRAT,197163,291301,True,217573
...,...,...,...,...,...,...,...,...,...
518,2018,NY,27,NATHAN D. MCMURRAY,WORKING FAMILIES,8090,285300,True,139059
519,2018,NY,27,NATHAN D. MCMURRAY,WOMEN'S EQUALITY,2802,285300,True,139059
520,2018,NY,27,CHRIS COLLINS,REPUBLICAN,114506,285300,True,140146
521,2018,NY,27,CHRIS COLLINS,CONSERVATIVE,23553,285300,True,140146
522,2018,NY,27,CHRIS COLLINS,INDEPENDENCE,2087,285300,True,140146

In [110]:
result.sort_values(by=["year", "state_po", "district", "candidatevotes_y"], ascending=[1,1,1,0], inplace=True)
result = result.drop_duplicates(subset=["year", "state_po", "district", "candidate"]).drop(columns=['candidatevotes_x'])
result = result.rename({"candidatevotes_y": "candidatevotes"}, axis=1)

In [111]:
result

,year,state_po,district,candidate,party,totalvotes,fusion_ticket,candidatevotes
0,2012,CT,1,JOHN B. LARSON,DEMOCRAT,297061,True,206973
2,2012,CT,2,JOE COURTNEY,DEMOCRAT,298960,True,204708
4,2012,CT,3,ROSA L. DELAURO,DEMOCRAT,291301,True,217573
6,2012,CT,4,JAMES A. HIMES,DEMOCRAT,293432,True,175929
8,2012,CT,5,ELIZABETH ESTY,DEMOCRAT,284757,True,146098
...,...,...,...,...,...,...,...,...
507,2018,NY,25,JOSEPH D. MORELLE,DEMOCRAT,270120,True,159244
511,2018,NY,25,JIM MAXWELL,REPUBLICAN,270120,True,110736
514,2018,NY,26,BRIAN HIGGINS,DEMOCRAT,230663,True,169166
520,2018,NY,27,CHRIS COLLINS,REPUBLICAN,285300,True,140146
517,2018,NY,27,NATHAN D. MCMURRAY,DEMOCRAT,285300,True,139059

In [112]:
df_orig = df[df["fusion_ticket"] == 0]
house_fused = df_orig.append(result)

In [120]:
house_fused

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
0,2012,AL,1,NaN,NaN,4302,200676,False
1,2012,AL,1,JO BONNER,REPUBLICAN,196374,200676,False
2,2012,AL,2,THERESE FORD,DEMOCRAT,103092,283953,False
3,2012,AL,2,NaN,NaN,270,283953,False
4,2012,AL,2,MARTHA ROBY,REPUBLICAN,180591,283953,False
...,...,...,...,...,...,...,...,...
507,2018,NY,25,JOSEPH D. MORELLE,DEMOCRAT,159244,270120,True
511,2018,NY,25,JIM MAXWELL,REPUBLICAN,110736,270120,True
514,2018,NY,26,BRIAN HIGGINS,DEMOCRAT,169166,230663,True
520,2018,NY,27,CHRIS COLLINS,REPUBLICAN,140146,285300,True
517,2018,NY,27,NATHAN D. MCMURRAY,DEMOCRAT,139059,285300,True

In [114]:
house_fused.to_csv("2012-2018_house_fused.csv", index=False)

Merge operation basics complete, fix the syntax later

After that is done

Sort by max then
Group by district, state_po, year
then only keep the top one (e.g. winner)

Manually remove blank votes

In [117]:
# df.loc[df['candidate'] == "BLANK VOTES"]
# df.loc[df['candidate'] == "VOID"]

### New Operations

At this point the only thing that needs to be changed is updating manually in the `fused` file the blank votes and purging from `totalvotes`

In [121]:
df = pd.read_csv("data/MEDSL/2012-2018_house_fused.csv")
df
# df.groupby(["year", "state_po", "district", "candidate"])

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
0,2012,AL,1,NaN,NaN,4302,200676,False
1,2012,AL,1,JO BONNER,REPUBLICAN,196374,200676,False
2,2012,AL,2,THERESE FORD,DEMOCRAT,103092,283953,False
3,2012,AL,2,NaN,NaN,270,283953,False
4,2012,AL,2,MARTHA ROBY,REPUBLICAN,180591,283953,False
...,...,...,...,...,...,...,...,...
5280,2018,NY,25,JOSEPH D. MORELLE,DEMOCRAT,159244,270120,True
5281,2018,NY,25,JIM MAXWELL,REPUBLICAN,110736,270120,True
5282,2018,NY,26,BRIAN HIGGINS,DEMOCRAT,169166,230663,True
5283,2018,NY,27,CHRIS COLLINS,REPUBLICAN,140146,285300,True
5284,2018,NY,27,NATHAN D. MCMURRAY,DEMOCRAT,139059,285300,True

In [122]:
df.sort_values(by=["year", "state_po", "district", "candidatevotes"], ascending=[1,1,1,0], inplace=True)

In [123]:
winners = df.drop_duplicates(subset=["year", "state_po", "district"])
winners

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket
5008,2002,IN,2,CHRIS CHOCOLA,REPUBLICAN,95081,188458,False
5015,2002,LA,5,RODNEY ALEXANDER,DEMOCRAT,52952,184657,False
5021,2006,CO,7,ED PERLMUTTER,DEMOCRAT,103918,189170,False
22,2012,AK,0,DON YOUNG,REPUBLICAN,185296,289804,False
1,2012,AL,1,JO BONNER,REPUBLICAN,196374,200676,False
...,...,...,...,...,...,...,...,...
4997,2018,WI,8,MIKE GALLAGHER,REPUBLICAN,209410,328774,False
4967,2018,WV,1,DAVID B MCKINLEY,REPUBLICAN,127997,198214,False
4969,2018,WV,2,ALEX X. MOONEY,REPUBLICAN,110504,204792,False
4972,2018,WV,3,CAROL MILLER,REPUBLICAN,98645,174985,False
5000,2018,WY,0,LIZ CHENEY,REPUBLICAN,127963,201245,False

In [131]:
winners["candidate"] = winners["candidate"].str.title()
winners["party"] = winners["party"].str.title()

<ipython-input-131-e4e15711165b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winners["candidate"] = winners["candidate"].str.title()
<ipython-input-131-e4e15711165b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winners["party"] = winners["party"].str.title()

In [132]:
winners["margin"] = winners["candidatevotes"]/winners["totalvotes"]

<ipython-input-132-51d76128f3ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winners["margin"] = winners["candidatevotes"]/winners["totalvotes"]

In [133]:
winners["party"].value_counts()

Republican                 923
Democrat                   811
Democratic-Farmer-Labor      9
Name: party, dtype: int64

In [134]:
winners.describe()

# forgot to add back the fused ones, that's why?

              year     district  candidatevotes     totalvotes       margin
count  1743.000000  1743.000000     1743.000000    1743.000000  1742.000000
mean   2014.979920    10.149168   164428.159495  255448.516351     0.655764
std       2.287878    10.641189    49461.499251   75636.746726     0.118416
min    2002.000000     0.000000        0.000000       0.000000     0.274997
25%    2012.000000     3.000000   132785.000000  204918.500000     0.573151
50%    2014.000000     6.000000   166784.000000  261812.000000     0.634351
75%    2016.000000    13.000000   198531.000000  310968.500000     0.714683
max    2018.000000    53.000000   329800.000000  507831.000000     1.000000

In [136]:
winners.sort_values(by=["margin"])[:30]

,year,state_po,district,candidate,party,candidatevotes,totalvotes,fusion_ticket,margin
2986,2016,LA,3,Clay Higgins,Republican,77671,282443,False,0.274997
5015,2002,LA,5,Rodney Alexander,Democrat,52952,184657,False,0.286759
2997,2016,LA,4,"""""Mike"""" Johnson",Republican,87370,268761,False,0.325084
1731,2014,LA,5,Ralph Lee Abraham,Republican,134616,326073,False,0.412840
1738,2014,LA,6,Garret Graves,Republican,139209,332888,False,0.418186
5221,2016,NY,22,Claudia Tenney,Republican,129444,296086,True,0.437184
3252,2016,NH,1,Carol Shea-Porter,Democrat,162080,365984,False,0.442861
461,2012,LA,3,"Charles W. Boustany, Jr.",Republican,139123,311393,False,0.446776
1755,2014,ME,2,Bruce Poliquin,Republican,133320,295009,False,0.451918
540,2012,MA,6,John F. Tierney,Democrat,180942,389852,False,0.464130
370,2012,IL,13,Rodney Davis,Republican,137034,294385,False,0.465492
3157,2016,MN,2,Jason Lewis,Republican,173970,370515,False,0.469536
2502,2014,WV,2,Alex X. Mooney,Republican,72619,154250,False,0.470788
5117,2012,NY,21,William L. Owens,Democrat,126631,268741,True,0.471201
5122,2012,NY,24,Daniel B. Maffei,Democrat,143044,303567,True,0.471211
3245,2016,NV,3,Jacky Rosen,Democrat,146869,310963,False,0.472304
4224,2018,KS,2,Steve Watkins,Republican,126098,264688,False,0.476402
5163,2014,NY,18,Sean Patrick Maloney,Democrat,88993,186715,True,0.476625
197,2012,CO,6,Mike Coffman,Republican,163938,342914,False,0.478073
5100,2012,NY,11,Michael G. Grimm,Republican,103118,214755,True,0.480166
560,2012,MI,1,Dan Benishek,Republican,167060,347037,False,0.481390
3678,2016,TX,23,Will Hurd,Republican,110577,228965,False,0.482943
1903,2014,MN,8,Richard M. Nolan,Democrat,129090,266083,False,0.485149
3249,2016,NV,4,Ruben Kihuen,Democrat,128985,265846,False,0.485187
1979,2014,NV,4,Cresent Hardy,Republican,63466,130781,False,0.485285
5111,2012,NY,18,Sean Patrick Maloney,Democrat,143845,295436,True,0.486891
52,2012,AZ,9,Kyrsten Sinema,Democrat,121881,250131,False,0.487269
2549,2016,AL,2,Martha Roby,Republican,134886,276584,False,0.487685
26,2012,AZ,1,Ann Kirkpatrick,Democrat,122774,251595,False,0.487983
1186,2012,UT,4,Jim Matheson,Democrat,119803,245277,False,0.488440

In [137]:
winners.to_excel("house_winners.xlsx", index=False)

### Continuing Process

What needs to be manually fixed:

Louisiana 2002-2016

Blank Votes from NY

Following use vlookup for confirmation and then manual the rest